h1{
    color: blue;
    font-size: 50px;
}
#first{
    color: aquamarine;
    font-size: 16px;
}
.second{
    color: bisque;
    font-size: 16px;
}
:root{
    --text-color: green;
}

.td{
    color: var(--text-color)
}
.box{
    width: 100px;
    height: 100px;
    background-color: rgb(194, 48, 150);
}